<h1>Students</h1>
<hr>
<a href="/students/add">Add Student</a><br>
<a href="/">Home</a>
<hr><br>
<table>
    <tr>
        <th>Student ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Action</th>
    </tr>
    <% students.forEach((student) => { %>
    <tr>
        <td><%= student.sid %></td>
        <td><%= student.name %></td>
        <td><%= student.age %></td>
        <td><a href="/students/update/<%= student.sid %>">Update</a></td>
    </tr>
    <% }) %>
</table>